%h1
  Nowy post
  %h1
    = form_for(@post) do |f|
      %ul
        - @post.errors.full_messages.each do |err|
          %li
            = err
      = f.label :article
      = f.text_field :article
      %br/
      = f.submit "Add"